In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity

In [2]:
music_list = pd.read_csv(r"E:\TY\SESD\SESD-PROJECT\music-store\music_list.csv")
music_list.head()

   index                  track_name  labels
0      0                      Comedy       1
1      1            Ghost - Acoustic       2
2      2              To Begin Again       2
3      3  Can't Help Falling In Love       2
4      4                     Hold On       0

In [ ]:
song_name = 'Comedy' 
sng_idx = music_list 
label
# song_cluster = music_list[music_list['track_name'] == song_name]
# song_cluster.head()

4         0
98        1
954       0
7165      0
8477      1
11218     2
22909     1
23658     1
25653     0
27418     0
27906     1
46805     1
81312     1
87356     1
94542     0
99587     1
102586    1
103985    2
110817    1
111618    0
Name: labels, dtype: int64

In [8]:
music_list[music_list['track_name'] == 'Hold On']

         index track_name  labels
4            4    Hold On       0
98          98    Hold On       1
954        954    Hold On       0
7165      7165    Hold On       0
8477      8477    Hold On       1
11218    11218    Hold On       2
22909    22909    Hold On       1
23658    23658    Hold On       1
25653    25653    Hold On       0
27418    27418    Hold On       0
27906    27906    Hold On       1
46805    46805    Hold On       1
81312    81312    Hold On       1
87356    87356    Hold On       1
94542    94542    Hold On       0
99587    99587    Hold On       1
102586  102586    Hold On       1
103985  103985    Hold On       2
110817  110817    Hold On       1
111618  111618    Hold On       0